<h2>Створити новий акаунт</h2>

<%= render 'form', user: @user %>

<%= link_to 'Вже маєте акаунт? Увійти', new_user_session_path, class: 'back-link' %> |
<%= link_to 'Назад', root_path, class: 'back-link' %>
