---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/transfers":
    get:
      summary: list transfers
      tags:
      - Transfers
      responses:
        '200':
          description: successful
    post:
      summary: create transfer
      tags:
      - Transfers
      parameters: []
      responses:
        '201':
          description: created
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sender_id:
                  type: integer
                receiver_id:
                  type: integer
                amount:
                  type: number
                  format: float
                currency:
                  type: string
                status:
                  type: string
              required:
              - sender_id
              - receiver_id
              - amount
              - currency
              - status
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
