<div id="<%= dom_id transfer %>">
  <p>
    <strong>Sender:</strong>
    <%= transfer.sender %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= transfer.receiver %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transfer.amount %>
  </p>

</div>
